<header class='w3-container'>
  <div class="title-container">
    <a href="https://frontendjr.nl" class="back">
      <p>frontendJR.nl</p>
    </a>
    <h1>Welke gemeenten doen mee?</h1>
  </div>
</header>
<div class='w3-container' id='buttons-and-content-container'>
  <div id='buttons-container'>
    <div id='switch-content-buttons'>  
      <button (click)='showMap()' class='w3-button w3-tiny'>Kaart</button>
      <button (click)='showTable()' class='w3-button w3-tiny'>Tabel</button>
    </div>
    <div id='data-buttons'>
      <button (click)='clearData()' class='w3-button w3-tiny'>Wis data</button>
      <button (click)='demoData()' class='w3-button w3-tiny'>Demo data</button>
      <button (click)='showCsvModal()' class='w3-button w3-tiny'>CSV</button>
    </div>
  </div>
  <div id='content-container'>
    <!-- <jr-canvas-map [style.display]='map'></jr-canvas-map> -->
    <jr-map [style.display]='map'></jr-map>
    <jr-table [style.display]='table'></jr-table>
  </div>
</div>
<jr-csv-modal *ngIf='csvModalDisplay' (hideModal)='hideCsvModal()'></jr-csv-modal>