$light-grey: #DDDDDD;
$middle-grey: #ACACAC;
$dark-grey: #767676;
$soft-yellow: #ffffbf;
$dark-red: #a50026;
$dark-green: #006837;
$yes-color: #42b437;
$maybe-color: #beda71;
$no-color: #ffe5bc;
$unknown-color: #eee;
