@import '~variables.scss';

#dialog-modal {
  display: block !important;
}
.w3-modal h2 {
  font-size: 24px;
}
.w3-modal-content {
  max-width: 300px;
  margin: 0 auto;
  .color-block {
    width: 24px;
    height: 24px;
    display: inline-block;
    transform: translate(-5px, 7px);
  }
  .soft-yellow {
    background-color: $soft-yellow;
    color: $dark-grey;
  }
}
.yes {
  background-color: $yes-color;
}
.maybe {
  background-color: $maybe-color;
}
.no {
  background-color: $no-color;
}
.unknown {
  background-color: $unknown-color;
}
